<h1>Information on: {{vm.hotel.name}} Stars: <em>{{vm.hotel.stars}}</em></h1>
<p>{{vm.hotel.description}}</p>


<div ng-if="vm.hotel.services.length > 0">
  <h2>{{vm.hotel.name}} offers these services</h2>
<ul>
    <li ng-repeat="service in vm.hotel.services">{{service}}</li>
</ul>  
</div>

<div ng-show="vm.hotel.reviews.length > 0">
    <h4>reviews</h4>
    <ul>
        <li ng-repeat="review in vm.hotel.reviews">{{review.name + "- stars: " + review.rating}} <em> {{review.review}}</em></li>
    </ul>

</div>

<div>
    <h4>Review this hotel</h4>

    <form name="vm.reviewForm" ng-submit="vm.addReview()">
        Your Name: <input type="text" name="name" required ng-model="vm.name"><br>
        Your Review: <textarea name="review" ng-model="vm.review" ></textarea><br>
        Your Rating: <input type="number" name="review" ng-model="vm.rating" required><br>
        <button type="submit" class="btn">Submit form</button>
    </form>
</div>